/* Estilos Globales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
  display: block;
  width: 100%;
}

a,
.section1_play, .section3_play  {
  text-decoration: none;
  outline: none;
  transition: 0.4s all ease-in-out;
}

li {
  list-style: none;
}

footer {
  align-self: flex-end;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
}
.footer_container {
  max-width: 1200px;
  width: 100%;
}

.img_responsive {
  max-width: 100%;
  width: 100%;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcc302;
}

/* MAIN MENU */
.main_menu {
  background-color: #ebb402;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.menu_link_desktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links_menu {
  padding: 0 1rem;
  line-height: 120px;
  height: 70;
  color: #ffffff;
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
}
.links_menu:hover {
  box-shadow: 0 -8px 0 0 #ffffff inset;
}

.box {
  width: 250px;
  margin: 2rem auto;
  margin-left: 40px;
  box-shadow: 10px 18px 39px -16px rgba(0, 0, 0, 0.4);
}

.search {
  background: #fcc302;
}

.box .search_box {
  position: relative;
  width: 250px;
  height: 50px;
}

.box .search_box .search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  padding-right: 20px;
}
.box .search_box .btn_search {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background: #00bec9;
  z-index: 1;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.box .search_box .btn_search:hover {
  background-color: #048e96;
}

.box .search_box .btn_search .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 20px;
}

.box .search_box .search {
  padding-right: 80px;
}

.box .search_box .search::placeholder {
  padding-right: 80px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.box .search {
  border: 0;
  outline: none;
  color: #ffffff;
}

/* Hero */
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 90vh;
}

.hero_group {
  text-align: left;
  padding-right: 50px;
}

.hero_title {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 4.3rem;
  font-weight: 600;
  line-height: 70px;
}
.hero_description {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 40px;
  opacity: 0.9;
}

.hero_image {
  margin-top: 80px;
  margin-left: 20px;
}
.hero_dog {
  width: 700px;
}

/* BOTONES */
.hero_buttons {
  margin-top: 4rem;
}
.btns {
  color: #ffffff;
  padding: 1.2rem 1.8rem;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 10px;
}
.btn_contact {
  margin-right: 30px;
  background-color: #00bec9;
}
.btn_services {
  box-shadow: 0px 0px 0px 3px #ffffff inset;
}

/* FOOTER */
footer {
  text-align: left;
  padding: 4rem 0;
  background-color: #343434;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  color: #ffffff;
}

.footer_title h3 {
  padding-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer_links,
ul li a {
  color: #ffffff;
  font-weight: 200;
  line-height: 25px;
}

.search_container {
  justify-content: right;
  text-align: right;
}
.footer_title p {
  font-weight: 200;
  line-height: 25px;
}

.footer_icons {
  width: 30px;
  margin-left: 10px;
}

/* BOTON BUSQUEDA FOOTER */
.footer_box {
  width: 350px;
  margin: 2rem 0;
}

.footer_search {
  background: #fcc302;
}

.footer_box .search_footer_box {
  position: relative;
  width: 350px;
  height: 50px;
}

.footer_box .search_footer_box .footer_search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  padding-right: 20px;
}
.footer_box .search_footer_box .footer_btn_search {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background: #00bec9;
  z-index: 1;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer_box .search_footer_box .footer_btn_search:hover {
  background-color: #048e96;
}

.footer_box .search_footer_box .footer_btn_search .footer_image_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 20px;
}
.footer_image_search {
  width: 25px;
}

.footer_box .search_footer_box .footer_search {
  padding-right: 80px;
}

.footer_box .search_footer_box .footer_search::placeholder {
  padding-right: 80px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.footer_box .footer_search {
  border: 0;
  outline: none;
  color: #ffffff;
}

/* MAIN  */
/* SECTION1 */
.section1_info {
  text-align: left;
  margin-right: 190px;
}
.section1_info h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 55px;
  text-align: left;
  margin-bottom: 20px;
}
.section1_info p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  margin-bottom: 50px;
}
.section1_info a {
  background-color: #fcc302;
  padding: 1rem 1.5rem;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 20px;
}

.section1_info a:hover {
  background-color: #ebb402;
}

.section1_image {
  text-align: left;
  padding-bottom: 450px;
}

.section1_background_image {
  width: 500px;
  position: absolute;
  z-index: 800;
}

.section1_play {
  position: absolute;
  width: 90px;
  z-index: 900;
  margin-top: 170px;
  margin-left: 220px;
}

.section1_play:hover {
  transform: scale(1.4);
}

/* SECTION2 */
.section2 {
  background-color: #fcc302;
}
.section2_container {
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section2_title {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.section2_title h2 {
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}
.section2_title p {
  justify-content: center;
  padding: 1.5rem 15rem;
  padding-bottom: 4rem;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
}
.section2_boxes {
  display: flex;
  text-align: center;
  color: #ffffff;
}
.section2_box h3 {
  max-width: 300px;
  margin: 2rem auto;
  font-size: 2.1rem;
  font-weight: 600;
}
.section2_box p {
  max-width: 340px;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 6rem;
}

/** SECTION3 */
.section3_info {
  text-align: right;
  margin-left: 190px;
}
.section3_info h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 55px;
  margin-bottom: 20px;
}
.section3_info p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 50px;
}
.section3_info a {
  background-color: #fcc302;
  padding: 1rem 1.5rem;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 20px;
}

.section3_info a:hover {
  background-color: #ebb402;
}

.section3_image {
  text-align: left;
  padding-bottom: 450px;
}

.section3_background_image {
  width: 500px;
  position: absolute;
  z-index: 800;
}

.section3_play {
  position: absolute;
  width: 90px;
  z-index: 900;
  margin-top: 180px;
  margin-left: 200px;
}

.section3_play:hover {
  transform: scale(1.4);
}

/* SECTION4 */
.section4 {
  background-color: #fcc302;
}
.section4_container {
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section4_title {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.section4_title h2 {
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}
.section4_title p {
  justify-content: center;
  padding: 1.5rem 15rem;
  padding-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
}
.section4_boxes {
  display: flex;
  text-align: center;
  color: #ffffff;
  padding-bottom: 8rem;
}
.section4_box h3 {
  max-width: 300px;
  margin: 2.5rem auto;
  font-size: 2.1rem;
  font-weight: 500;
}
.section4_box h3 del{
  padding-right: 10px;
}

.buy_button {
  background-color: #00bec9;
  padding: 0.8rem 2rem;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  border-radius: 50px;
  margin-top: 20px;
}
.buy_button:hover {
  background-color: #048e96;
  cursor: pointer;
}

/* SECTION5 */
.section5_container {
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section5_title {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.section5_title h2 {
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 600;
  color: #343434;
}
.section5_title p {
  justify-content: center;
  padding: 1.5rem 15rem;
  padding-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #343434;
}
.section5_boxes {
  display: flex;
  text-align: center;
  color: #343434;
  padding-bottom: 6rem;
}
.section5_box h3 {
  max-width: 300px;
  margin: 1rem auto;
  font-size: 2.1rem;
  font-weight: 700;
}
.section5_box h4{
  font-size: 1.6rem;
  font-weight: 500;
}

.section5_networks img{
  width: 35px;
  margin: 1.5rem 0.2rem;
}

/* SECTION6 */
.section6{
  background-color: #fcc302;
  height: 400px;
}

